
/*============================= about page items ============================*/

.about-banner{
  min-height: 500px;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  margin: 50px 0;
}


  .about-features{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

    .about-feature{
      width: 33.3%;
      text-align: center;
      font-size: 28px;
      line-height: 1.2;
      margin: 25px 0;
    }

      .about-feature__title{
        font-size: 48px;
        line-height: .8;
        letter-spacing: -1px;
        margin-bottom: 10px;
        color: #00764E;
      }

      .about-feature figcaption{
        padding: 10px 5px 0;
      }


@media only screen and (max-width: 1024px){

  .about-banner{
    min-height: 350px;
    margin: 30px 0;
  }

  .about-feature__title{
    font-size: 28px;
  }

  .about-feature{
    font-size: 20px;
  }

    .about-feature figcaption{
      padding-top: 20px;
    }
}

@media only screen and (max-width: 767px){
  .about-feature{
    width: 50%;
  }
}

@media only screen and (max-width: 480px){
  .about-feature{
    width: 100%;
  }

  .about-banner{
    min-height: 250px;
  }
}