
/*============================ Achievments =============================*/

.achievments{
  text-align: center;
}

  .achievment-item{
    font-size: 21px;
    display: inline-block;
    color: #00764E;
    margin: 0 40px;
  }


  .achievment-item.inactive{
    opacity: .5;
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }



    .achievment-item__icon{
      line-height: 134px;
      height: 134px;
      margin-bottom: 25px;
    }

      .achievment-item__icon img{
        vertical-align: middle;
      }


@media only screen and (max-width: 767px){
  .achievment-item{
    margin-top: 40px;
  }
}