
/*============================= Banners ============================*/
.banner{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-content: flex-end;
  min-height: 390px;
  margin-bottom: 50px;
}

  .banner__content{
    width: 42%;
  }

    .banner:not(.banner-type--2) .banner__content{
      line-height: 390px;
      text-align: center;
      background-color: #DBDCDE;
    }

    .banner__content img{
      vertical-align: middle;
    }

  .banner__img{
    width: 58%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
  }

.banner-type--2{
  min-height: 600px;
  margin-bottom: 0;
}

  .banner-type--2 .banner__content{
    background-color: #303435;
    padding: 45px 40px;
    color: #fff;
    font-size: 21px;
    line-height: 1.3;
  }

  .banner-type--2 .banner__content a{
    color: #fff;
  }

    .banner__content-title{
      font-size: 48px;
      line-height: .9;
      margin-bottom: 30px;
    }

    .banner__conten-inner{
      display: inline-block;
      vertical-align: middle;
      line-height: 1.23;
      padding: 0 80px;
    }

.banner.banner-type--3 .banner__content{
  min-height: 500px;
  margin-bottom: 0;
  background-color: #00764E;
  color: #fff;
}


@media only screen and (max-width: 1024px){
  
  .banner__conten-inner{
    padding: 0 50px;
  }

  .banner,
  .banner.banner-type--3 .banner__content{
    min-height: 350px;
  }

  .banner__content-title{
    font-size: 36px;
    line-height: 1.23;
    margin-bottom: 20px;
  }

    .banner-type--2 .banner__content{
      font-size: 16px;
    }

}


@media only screen and (max-width: 767px){
  .banner{
    display: block;
  }

    .banner__img,
    .banner__content{
      width: 100%;
    }

    .banner__img{
      min-height: 400px;
    }

    .banner.banner-type--3 .banner__content{
      min-height: 0;
      padding: 30px 0;
      line-height: 1;
    }

  .banner-type--2{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .banner-type--2 .banner__img{
    order: 1;
  }

  .banner-type--2 .banner__content{
    order: 2;
    padding: 20px;
  }

  .banner__content-title{
    font-size: 30px;
  }
  
}

@media only screen and (max-width: 480px){
  .banner__img{
      min-height: 250px;
  }
}