
.breadcrumbs-section{
  background-color: #fff;
}
  .breadcrumbs{
    color: #00764E;
    padding: 10px 0 0;
  }

    .breadcrumbs a{
      text-decoration: underline;
      color: #00764E;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }

      .breadcrumbs a:hover{
        text-decoration: none;
      }


    .breadcrumbs span{
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }