
.big-banner-section{
  /* padding: 50px 0 0; */
}

  .big-banner-section .big-banner:last-child{
    margin-bottom: 0;
  }
  .big-banner{
    position: relative;
    margin: 50px 0;
    padding: 150px 0;
    -webkit-background-size: cover !important;
    background-size: cover !important;
  }

    .big-banner::before{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .3;
      background-color: #000;
      content: "";
    }

    .big-banner .container{
      position: relative;
      z-index: 10;
    }

    .big-banner__inner{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }
      .big-banner__caption{
        width: 430px;
        background-color: #383836;
        color: #fff;
        font-size: 18px;
        line-height: 1.23;
        padding: 70px 60px 70px 50px;
      }


        .big-banner__caption-title{
          font-size: 84px;
          line-height: 1;
          margin-bottom: 20px;
        }


      .big-banner__offers{
        background-color: #fff;        
        width: 100%;
        padding: 25px 40px;
      }


@media only screen and (max-width: 995px){
  .big-banner__inner{
    display: block;
  }
    .big-banner__caption{
      width: 100%;
      padding: 40px;
    }

    .big-banner .product-items{
      margin-bottom: 0;
    }

    .big-banner{
      padding: 100px 0;
    }
}


@media only screen and (max-width: 767px){
  .big-banner{
      padding: 50px 0;
      margin: 20px 0;
  }

  .big-banner__caption-title{
    font-size: 60px;
  }
}

@media only screen and (max-width: 480px){
  
  .big-banner__caption-title{
    font-size: 40px;
  }

  .big-banner__caption,
  .big-banner__offers{
    padding: 20px;
  }


}