.cities{
  text-align: center;
  padding-left: 100px;
}

  .cities__col{
    text-align: left;
    width: 320px;
    padding-right: 20px;
    display: inline-block;
  }

@media only screen and (max-width: 1200px){
	.cities{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding-left: 0;
 	}

 	.cities__col{
 		width: 33.3%;
 		display: block;
 		text-align: center;
 	}
}

@media only screen and (max-width: 767px){
	.cities{
		display: block;
		padding-left: 0;
 	}

 	.cities__col{
 		width: auto;
 		text-align: center;
 	}
}