.callback-methods{
	overflow: hidden;
	color: #fff;
	margin: 60px -10px;
}
	.callback-method{
		font-size: 50px;
		line-height: .95;
		float: left;
		position: relative;
		min-height: 400px;
		width: calc(50% - 20px);
		margin: 0 10px;
		-webkit-background-size: cover !important;
		background-size: cover !important;
	}

		.callback-method::before{
			position: absolute;
			display: block;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
			content: "";
		}


		.callback-method figcaption{
			padding: 72px 65px 60px;
			position: relative;
			z-index: 10;
		}

			.callback-method figcaption p{
				margin-bottom: 50px;
			}


@media only screen and (max-width: 1200px){
	.callback-method figcaption{
		padding: 40px;
	}
}


@media only screen and (max-width: 767px){
	.callback-methods{
		margin: 20px 0;
	}
		.callback-method{
			width: 100%;
			position: relative;
			margin: 0 0 20px;
			min-height: 350px;
		}

			.callback-method figcaption{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 20px;
			}

				.callback-method figcaption p{
					margin-bottom: 20px;
				}
}

@media only screen and (max-width: 480px){
	.callback-method{
		font-size: 40px;
	}

		.callback-method img{
			max-width: 60px;
			height: auto;
		}

		.callback-method{
			min-height: 300px;
		}
}