.events-section{
  padding: 100px 0 ;
}

  .events{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -28px 70px;
  }

    .event-item{
      width: calc(33.3% - 56px);
      margin: 0 28px;
    }

      .event-item figcaption{
        padding-top: 15px;
      }

      .event-item img{
        max-width: 100%;
        height: auto;
      }

@media only screen and (max-width: 1200px){
  .events{
    margin-left: -15px;
    margin-right: -15px;
  }
    .event-item{
      width: calc(33.3% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
}

@media only screen and (max-width: 995px){
  .events-section{
    padding: 50px 0;
  }
}

@media only screen and (max-width: 479px){
  .events{
    margin: 0;
  }
    .event-item{
      width: 100%;
      margin: 0 0 20px;
    }
      .event-item img{
        width: 100%;
        height: auto;
      }
}