/*================================>> Footer <<========================================*/
footer{
  padding: 37px 0;
  color: #fff;
}

  footer a,
  footer a:hover{
    color: #fff;
  }

  footer a:hover{
    text-decoration: underline;
  }

  .footer-phone{
    font-size: 24px;
    margin: -4px 0 7px;
  }


  .footer-copyright{
    font-size: 13px;
  }


  footer .menu{
    font-size: 18px;
    margin-bottom: 87px;
  }


  footer .menu li.extra-item{
    margin-right: 30px;
  }

  footer .menu li:nth-child(2){
    margin-right: 30px;
  }

.footer-social{
  overflow:hidden;
  margin: 49px 0 54px;
}
  .footer-social a{
    display:block;
    float:left;
    width: 40px;
    height: 40px;
    overflow:hidden;
    margin-right: 24px;
  }



@media only screen and (max-width: 1024px){
  footer .menu{
    margin-bottom: 20px;
  }

  .footer-social{
    margin: 10px 0 20px;
  }

    .footer-social a{
      max-width: 30px;
      margin-right: 10px;
    }

      .footer-social a img{
        max-width: 100%;
        height: auto;
      }

  .footer__logo{
    width: 150px;
    display: block;
    margin-top: 5px;
  }

    .footer__logo img{
      max-width: 100%;
      height: auto;
    }


  .footer-phone{
    margin-bottom: 0;
  }
}


@media only screen and (max-width: 480px){
  footer .menu li{
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
  }

  footer .menu li:nth-child(1),
  footer .menu li:nth-child(2){
    font-size: 18px;
    margin-bottom: 10px;
  }


  .footer__inner >*{
    float: none;
  }

  .footer__logo{
    margin-bottom: 20px;
  }

  .footer-social{
    margin: 20px 0 10px;
  }
}