/* -------- form tabs nav---------- */
.sms-confirmations-area{
  text-align: center;
  margin-bottom: 50px;
}

  .sms-confirmations-area span{
    display: inline-block;
    margin: 0 5px;
  }
    
    .sms-confirmation-field{
      width: 64px !important;
    }

.form__tabs-nav{
  overflow: hidden;
  line-height: 39px;
  border: 1px solid #00764e;
  border-radius: 9px;
  margin-bottom: 54px;
}

  .form__tabs-nav li{
    float: left;
    width: 50%;
    text-align: center;
    color: #00764e;
    font-size: 18px;
    cursor: pointer;
  }

    .form__tabs-nav li:hover,
    .form__tabs-nav li.active{
      color: #fff;
      background-color: #00764e;
    }

    .form__tabs-nav li.active{
      cursor: default;
    }
    

    .form__tabs-content .form__tabs-content__item:first-child ~ .form__tabs-content__item{
      display: none;
    }

    .form__tabs-content .txt-field{
      width: calc(100% - 220px);
    }

    .form__tabs-content .form__label{
      width: 220px;
      padding-right: 20px;
    }


.btn--file-upload{
  position: relative;
  line-height: 38px;
  font-size: 18px;
  background-color: #fff;
  color: #00764E;
  overflow: hidden;
}

  .btn--file-upload input{
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

/*================================>> Contact Form <<========================================*/
.form-avatar{
  text-align: center;
  margin-bottom: 34px;
}

  .form-avatar figcaption{
    padding-top: 36px;
  }

.form__row{
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 24px;
}


.radio-btns-wrap{
  width: calc(100% - 170px);
}


.custom-radio{
  display: inline-block;
}

  .custom-radio input{
    display: none;
  }


  .custom-radio .btn.btn-sbm{
    background-color: #cccccc;
    color: #333;
    font-size: 18px;
  }

  .custom-radio input:checked + .custom-radio__label{
    background-color: #00764e;
    color: #fff;
  }

.fake-radio{
  display: inline-block;
  position: relative;
  margin-right: 15px;
  line-height: 32px;
  min-height: 36px;
}

  .fake-radio input{
    display: none;
    width: 0;
    height: 0;
  }

  .fake-radio input:checked + .fake-radio__label::before{
    background: url(../images/checkbox-icon.png) 50% 50% no-repeat;
  }

  .fake-radio__label{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding: 0 0 0 50px;
  }

  .fake-radio__label::before{
    width: 32px;
    height: 32px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #00764e;
    position: absolute;
    top: 4px;
    left: 0;
    content: "";
  }

.fake-checkbox{
  display: inline-block;
  position: relative;
  margin-right: 15px;
  line-height: 32px;
  min-height: 36px;
}

  .fake-checkbox input{
    display: none;
    width: 0;
    height: 0;
  }

  .fake-checkbox input:checked + .fake-checkbox__label::before{
    background: url(../images/checkbox-icon.png) 50% 50% no-repeat;
  }

  .fake-checkbox__label{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.23;
    padding: 0 0 0 50px;
  }

  .fake-checkbox__label::before{
    width: 32px;
    height: 32px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    border: 2px solid #00764e;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }


.favourite-cat-form{
  padding: 0 50px;
}

.favourite-cat-form__inner{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

  .favourite-cat__col{
    width: 50%;
    float: left;
    padding-right: 30px;
  }

  .favourite-cat-form__row{
    margin-bottom: 20px;
  }

.form-1{
  max-width: 540px;
  margin: 0 auto;
}

.form__row{
  overflow: hidden;
}

  .form__label,
  .form__label{
    width: 170px;
    font-size: 18px;
  }
  .txt-field,
  .form__field{
    width: calc(100% - 170px);
    margin:0;
    font-size: 18px;
    border: 2px solid #b2b2b2;
    color:#333;
    height: 64px;
    padding: 0 20px;
    border-radius: 12px !important;
    outline:none;
    position:relative;
    font-family:'Circe', sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  select.txt-field{
    position: relative;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    background: url(../images/down-select-arrow.png) calc(100% - 15px) 50% no-repeat;
  }


  .txt-field.datepicker{
    background: url(../images/calendar.png) calc(100% - 10px) 50% no-repeat;
  }

  .select{
    border: 1px solid #CFD0D2;
    height: 32px;
    font-size: 14px;
    color: #333;
    padding: 0 5px;
    width: 100%;
    font-family:'Circe', sans-serif;
  }


  .form__field--message{
    height: 440px;
    width: 100%;
  }


  .form__field--comment{
    height: 208px;
    padding: 20px;
    line-height: 1.23;
  }

  ::-webkit-input-placeholder {color:#ccc;}
  ::-moz-placeholder          {color:#ccc;}/* Firefox 19+ */
  :-moz-placeholder           {color:#ccc;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#ccc;}


.error .txt-field{
  border-color: #ea2629;
}

.error .form__label{
  color: #ea2629;
}

.msg-field{
  overflow:auto;
  resize:none;
  margin: 0 0 0 0;
}


.confirmation-fields-area{
  margin: 40px 0 70px;
  text-align: center;
}
  .confirmation-fields-area .form__field{
    width: 60px;
    margin: 0 15px;
    font-size: 24px;
  }


@media only screen and (max-width: 767px){
  
  .favourite-cat-form{
    padding: 0;
  }


  .form__tabs-nav{
    margin-bottom: 30px;
  }


}

@media only screen and (max-width: 600px){
  .favourite-cat__col{
    float: none;
    width: auto;
    padding: 0;
  }

  .form__row .btn{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 479px){
  
  .form__row{
    display: block;
    margin-bottom: 15px;
  }
    .form__label, .form__label{
      width: auto;
      display: block;
      margin-bottom: 7px;
    }

    .form__label br, .form__label br{
      display: none;
    }

  .txt-field, .form__field, .form__tabs-content .txt-field{
    width: 100%;
  }


  .form__field--message{
    height: 220px;
  }


  .form__tabs-nav li{
    font-size: 16px;
  }

  .txt-field{
    height: 50px;
  }

  .form__field--comment,
  .form__field--message{
    height: 150px;
  }

  .form__tabs fieldset{
    margin-bottom: 15px;
  }

  .radio-btns-wrap{
    width: 100%;
  }

}

@media only screen and (max-width: 400px){
  .form__tabs-nav{
  
  }

    .form__tabs-nav li{
      float: none;
      width: 100%;
    }


    .sms-confirmations-area span,
    .confirmation-fields-area .form__field{
      margin: 0 2px;
    }

    .confirmation-fields-area{
      margin: 20px 0 30px;
    }
}