.faq dt{
	position: relative;
	border-bottom: 1px solid #E6E6E6;
	font-size: 24px;
	padding: 20px 0 15px;
	cursor: pointer;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

	.faq dt ~ dt{
		margin-top: 5px;
	}

	.faq dd{
		display: none;
		padding: 0px 0 25px;
	}


	.faq dt,
	.faq dd{
		padding-left: 20px;
		padding-right: 50px;
	}


	.faq dt.active,
	.faq dt.active + dd{
		background-color: #E6E6E6;
	}


	.faq dt::after{
		width: 26px;
		height: 26px;
		display: block;
		position: absolute;
		right: 20px;
		top: 16px;
		background: url(../images/faq-plus-icon.png) 50% 50% no-repeat;
		-webkit-transition: all 250ms ease;
		-moz-transition: all 250ms ease;
		-ms-transition: all 250ms ease;
		-o-transition: all 250ms ease;
		transition: all 250ms ease;
		content: "";
	}

		.faq dt.active::after{
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}


@media only screen and (max-width: 767px){
	.faq dt{
		font-size: 18px;
	}
}