/*======================> Header <======================*/

header{
  background-color: #fff;
}


  .header__info{
    background-color: #dbdcde;
    padding: 5px 0 4px;
    font-size: 15px;
  }

    .header__phone{
      display: inline-block;
      margin-right: 40px;
      font-size: 16px;
    }

  .logo{
    padding: 25px 0;
    position: relative;
    float: left;
  }

    .logo a{
      display: inline-block;
      position: relative;
      z-index: 10;
      background-color: #fff;
    }

    /* .logo::before{
      display: block;
      position: absolute;
      left: 0;
      top: 25px;
      bottom: 25px;
      right: 0;
      background-color: #00764e;
      content: "";
    } */

    .logo a img{
      max-width: 100%;
      height: auto;
    }

    .header__auth{
      margin: 25px 0;
      overflow: hidden;
      line-height: 60px;
      background-color: #00764e;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding: 0 15px;
      font-size: 30px;
    }

      .header__auth .btn-1{
        vertical-align: middle;
        margin: -1px 0 0 40px;
      }

.header__user{
  float: right;
  margin: 24px 0 0;
}  

  .header__user > *{
    display: inline-block;
    vertical-align: middle;
  }
    .header__user-avatar{
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      margin-right: 10px;
      background: url(../images/avatar_border.png) 50% 50% no-repeat;
    }

      .header__user-avatar img{
        vertical-align: middle;
        border-radius: 50%;
      }




@media only screen and (max-width: 1024px){
  .header__auth{
    font-size: 20px;
  }
}

@media only screen and (max-width: 995px){
  

  .header__inner{
    padding: 16px 0;
  }

  .logo{
    width: 163px;
    padding: 0;
  }

    .header__auth{
      display: none;
    }

    .header__resp-shops-link{
      display: inline-block;
      float: right;
      margin: 5px 0 0;
    }


    .header__user{
      margin-top: 0;
    }

      .header__user-avatar{
        width: 40px;
        height: 40px;
        line-height: 40px;
        -webkit-background-size: cover;
        background-size: cover;
      }

        .header__user-avatar img{
          max-width: 100%;
          height: auto;
        }


}


@media only screen and (max-width: 480px){
  .header__region{
    display: none;
  }


  .header__inner{
    position: relative;
  }

    .header__user{
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      margin-top: 10px;
    }

    .header__user a{
      color: #fff;
    }


}