
/*============================= Magazine page ============================*/

.magazine-content{
  background: url(../images/magazine-bg.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 50px;
}

  .magazine-content .breadcrumbs-section{
    background: none;
  }


  .magazine-carousel-section{
    margin: 50px 0;
  }

    .magazine-carousel{
      position: relative;
    }

      .magazine-carousel .swiper-slide{
        text-align: center;
      }


      .magazine-carousel__item{
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        margin: 0 6px;
      }


      .magazine-button{
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 31px;
        height: 57px;
        border: none;
        cursor: pointer;
        z-index: 99;
      }

        .magazine-button--prev{
          background: url(../images/carousel-arrow--left.png) 0 0 no-repeat;
          left: -50px;
        }
        .magazine-button--next{
          background: url(../images/carousel-arrow--right.png) 0 0 no-repeat;
          right: -50px;
        }


        .magazine-button.swiper-button-disabled{
          cursor: default;
          opacity: .5;
        }


  .magazine-tools{
    overflow: hidden;
    font-size: 18px;
    max-width: 920px;
    margin: 45px auto 0;
  }

    .magazine-tools__left{
      float: left;
    }

    .magazine-tools__right{
      float: right;
    }

    .magazine-tools__left > *,
    .magazine-tools__right > *{
      display: inline-block;
      vertical-align: middle;
    }

      .magazine-tools__btn{
        display: inline-block;
        width: 13px;
        height: 22px;
        border: none;
        cursor: pointer;
      }


        .magazine-tools__btn--prev{
          background: url(../images/magazine-prev-icon.png) 50% 50% no-repeat;
          margin-right: 50px;
        }

        .magazine-tools__btn--next{
          background: url(../images/magazine-next-icon.png) 50% 50% no-repeat;
          margin-left: 50px;
        }



    .magazine-tools__zoom-btn{
      width: 26px;
      height: 26px;
      cursor: pointer;
      background: none;
      border: none;
      margin: 0 10px;
      vertical-align: middle;
    }

      .magazine-tools__zoom-btn--minus{
        background: url(../images/magazine-zoom-out-icon.png) 0 0 no-repeat;
      }
      .magazine-tools__zoom-btn--plus{
        background: url(../images/magazine-zoom-in-icon.png) 0 0 no-repeat;
      }


@media only screen and (max-width: 1400px){
  
  .magazine-button--next{
    right: 30px;
  }
  .magazine-button--prev{
    left: 30px;
  }


  .magazine-carousel__item{
    width: 40%;
  }

    .magazine-carousel__item img{
      max-width: 100%;
      height: auto;
    }

}


@media only screen and (max-width: 767px){
  .magazine-button--prev{
    left: 10px;
  }
  .magazine-button--next{
    right: 10px;
  }
}

@media only screen and (max-width: 420px){
  .magazine-button{
    display: none;
  }

  .magazine-carousel__item{
    width: 45%;
  }

  .magazine-content{
    padding-bottom: 20px;
  }
}