
/*============================= Main slider section ============================*/
.main-slider{
  overflow: hidden;
  background-color: #fff;
  /* padding-bottom: 50px; */
  position: relative;
}

  .main-slider__item{
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 36px;
    height: 330px;
    line-height: 1.1;
    -webkit-background-size: cover !important;
    background-size: cover !important;
  }
    
    .main-slider__item img{
      display: none;
    }

    .main-slider__item figcaption{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 40px 60px;
      color: #fff;
    }

      .main-slider__item figcaption[data-sale-percent="-25%"]::after{
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-size: 76px;
        line-height: 1;
        color: #FFEF02;
        font-family:'Circe Bold', sans-serif;
        font-weight: 400;
        content: attr(data-sale-percent);
      }

    .main-slider__item::before{
      display: block;
      position: absolute;
      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%), rgba(51, 51, 51, 0.5);
      opacity: .4;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      content: "";
    }

    .swiper-slide-active.main-slider__item::before{
      opacity: 0;
    }


  .main-slider .swiper-pagination{
    padding: 45px 0 0;
    text-align: center;
  }
    .main-slider .swiper-pagination .swiper-pagination-bullet{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 18px;
      border-radius: 50%;
      background-color: #C0C0C0;
    }

      .main-slider .swiper-pagination .swiper-pagination-bullet:hover,
      .main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background-color: #E8302D;
        cursor: pointer;
      }

      .main-slider .swiper-button-next,
      .main-slider .swiper-button-prev{
        position: absolute;
        top: calc(100% - 65px);
        width: 36px;
        height: 36px;
        display: block;
      }


      .main-slider .swiper-button-next{
        right: 110px;
        background: url(../images/right-slider-arrow.png) 0 0 no-repeat;
      }
      .main-slider .swiper-button-prev{
        left: 110px;
        background: url(../images/left-slider-arrow.png) 0 0 no-repeat;
      }


@media only screen and (max-width: 1200px){
  
  .main-slider__item figcaption{
    padding: 0 20px 20px;
  }

  .main-slider__item figcaption[data-sale-percent="-25%"]::after{
    font-size: 40px;
  }
}

@media only screen and (max-width: 995px){
  
  .main-slider__item figcaption{
    padding-bottom: 40px;
  }

  .main-slider__item figcaption[data-sale-percent="-25%"]::after{
    bottom: 70px;
  }


}

@media only screen and (max-width: 480px){
  .main-slider__item{
    font-size: 30px;
  }

  .main-slider__item figcaption{
    padding-bottom: 20px;
  }
  .main-slider__item figcaption[data-sale-percent="-25%"]::after{
    bottom: 100%;
    right: auto;
    left: 20px;
  }

  .main-slider__item{
    height: 250px;
  }

  .main-slider .swiper-pagination{
    padding-top: 20px;
  }
    .main-slider .swiper-pagination .swiper-pagination-bullet{
      margin: 0 10px;
    }
    
    .main-slider .swiper-button-next,
    .main-slider .swiper-button-prev{
      display: none;
    }

}