/*=====================> Navigation ========================*/
nav{
  background-color: #00764e;
  line-height: 60px;
}

  nav a{
    color: #fff;
  }

  .menu{
    display: block;
  }

  .menu span,
  .menu img{
    display: inline-block;
    vertical-align: middle;
    margin: -4px 2px 0 0;
  }


    .menu li{
      margin-right: 15px;
      display: inline-block;
    }

      nav a:hover{
        text-decoration: underline;
        color: #fff;
      }


    nav .extra-item{
      font-size: 18px;
    }


    .location-icon img{
      margin: -3px 8px 0 0;
      vertical-align: middle;
      display: inline-block;
    }

@media only screen and (max-width: 995px){
  nav{
    position: relative;
    padding: 0;
  }

  .resp-toggle-btn { display: inline-block; vertical-align: middle; border: none; cursor: pointer; outline: none; width: 24px; height: 40px; position: relative; background: none;}
    
  .resp-toggle-btn span { display: block; position: absolute; height: 3px; left: 0px; right: 0px; background-color: #fff; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
  .resp-toggle-btn span.line1 { top: 11px; }
  .resp-toggle-btn span.line2 { top: 19px; }
  .menu > .hasUl > a::after { right: 22px; }
  .resp-toggle-btn span.line3 { top: 27px; }
  .navTrue .resp-toggle-btn span { left: 0px; right: 0px; }
  .navTrue .resp-toggle-btn span.line1 { -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 19px; }
  .navTrue .resp-toggle-btn span.line2 { opacity: 0; }
  .navTrue .resp-toggle-btn span.line3 { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 19px; }

  nav .menu { position: absolute; left: 0; top: 100%; width: 100%; z-index: 999; padding: 0; overflow: auto; background-color: #00764e; display: none;}
  nav .menu li { float: none; display: block; line-height: 40px; padding: 0 0px; margin: 0; text-align: left; border-top: 1px solid rgba(255, 255, 255, 0.3); }
  nav .menu a { display: block; padding: 7px 15px; color: #fff; font-size: 16px; }
  .nav_overlay { position: fixed; opacity: 0; visibility: hidden; top: 0; left: 0; width: 100%; height: 100%; z-index: 888; color: #fff; background-color: #000; -webkit-transition: all 350ms ease; -moz-transition: all 350ms ease; -ms-transition: all 350ms ease; -o-transition: all 350ms ease; transition: all 350ms ease; }
  .navTrue .nav_overlay { opacity: .7; visibility: visible; }


  nav .menu,
  nav .menu + div{
    float: none;
  }

  nav .menu + div{
    display: none;
  }

  .header__resp-user-unreg-avatar{
    display: block;
    margin-top: 13px;
    float: right;
    line-height: 1;
  }
}