
/*============================= products items (catalog etc.) ============================*/

.product-items{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px 50px;
}
  .product-item{
    width: calc(20% - 34px);
    margin: 0 14px 20px;
  }

    [data-catalog-layout="4"] .product-item{
      width: calc(25% - 34px);
    }

    [data-catalog-layout="3"] .product-item{
      width: calc(33.3% - 34px);
    }

    .product-item__img{
      position: relative;
      text-align: center;
      line-height: 210px;
    }

      .product-item__sale-labels{
        position: absolute;
        bottom: 20px;
        left: 0;
        text-align: left;
      }

        .product-item__sale-label--percent{
          width: 66px;
          height: 39px;
          line-height: 39px;
          padding: 0 0 0 8px;
          font-size: 21px;
          color: #fff;
          background: url(../images/sale-label--percent.png) 0 0 no-repeat;
        }

        .product-item__sale-label--price{
          width: 82px;
          padding: 5px 0 0 8px;
          min-height: 49px;
          line-height: 1;
          background: url(../images/sale-label--price.png) 0 0 no-repeat;
        }

          .product-item__sale-old-price{
            font-size: 14px;
            text-decoration: line-through;
          }

          .product-item__sale-current-price{
            font-size: 28px;
          }

            .product-item__sale-current-price sup{
              font-size: 18px;
              display: inline-block;
              margin-left: -3px;
            }

      .product-item__img a{
        display: inline-block;
      }

      .product-item__img img{
        vertical-align: middle;
        max-width: 100%;
        height: auto;
      }

    .product-item__caption{
      font-size: 13px;
      line-height: 1.5;
    }


@media only screen and (max-width: 995px){
  .product-item{
    width: calc(25% - 34px);
  }

  [data-catalog-layout="4"] .product-item{
    width: calc(33.3% - 34px);
  }

   .products--catalog{
    margin: 0 -15px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .products--catalog .product__item{
    width: calc(33.3% - 30px);
    margin: 0 15px 30px;
  }

}



@media only screen and (max-width: 480px){
  .products--catalog .product__item{
    width: calc(50% - 30px);
  }
}
@media only screen and (max-width: 767px){
  
  .product-item{
    width: calc(33.3% - 34px);
  }


  [data-catalog-layout="3"] .product-item{
    width: calc(50% - 34px);
  }


  .product__item-img img{
    max-width: 100%;
    height: auto;
  }

}

@media only screen and (max-width: 480px){
  
  [data-catalog-layout="4"] .product-item{
    width: calc(50% - 34px);
  }

  .product-item{
    width: calc(50% - 34px);
  }

    .product-item__img{
      line-height: 150px;
    }


  .product-item__caption{
    text-align: center;
  }

}

@media only screen and (max-width: 400px){

  .product-items,
  .products--catalog{
    margin: 0 0 30px;
  }

  [data-catalog-layout="4"] .product-item,
  .product-item,
  .products--catalog .product__item,
  [data-catalog-layout="3"] .product-item{
    margin: 0 0 20px;
    width: 100%;
  }

}