/*============================ personal features =============================*/
.personal-features{
  text-align: center;
}
  .personal-feature{
    display: inline-block;
    margin: 0 50px;
    padding-top: 30px;
  }

    .personal-feature--user{
      padding-top: 0;
    }

    .personal-feature__points{
      font-size: 36px;
      text-align: center;
      color: #EE2E24;
      min-height: 64px;
    }


    .personal-feature__avatar{
      display: inline-block;
      width: 130px;
      height: 130px;
      line-height: 120px;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 5px solid #00764E;
    }

      .personal-feature__avatar img{
        vertical-align: middle;
      }


@media only screen and (max-width: 995px){

  .personal-features{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .personal-feature{
      width: 33.3%;
      margin: 0;
    }

}


@media only screen and (max-width: 479px){

  .personal-features .personal-feature{
    width: 50%;
  }
    .personal-features .personal-feature:first-child{
      order: 2;
    }
    .personal-features .personal-feature--user{
      order: 0;
      width: 100%;
    }

}