.city-popup{
	width: 580px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	padding: 30px;
	text-align: center;
	font-size: 21px;
}


	.city-popup__btns a{
		min-width: 180px;
		margin: 0 20px;
	}

@media only screen and (max-width: 767px){
	.city-popup{
		width: 90%;
		max-width: 90%;
		padding: 20px;
	}

		.city-popup__btns a{
			min-width: 100px;
			margin-bottom: 15px;
		}
}


@media only screen and (max-width: 480px){
	
	.city-popup__btns a{
		display: block;
		width: 100%;
		margin: 0 0 15px;
		min-width: 0;
	}

	.city-popup .mb50{
		margin-bottom: 20px;
	}
}