
/*============================= Product page ============================*/

.product{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 50px;
}

  .product__img{
    width: 460px;
    line-height: 460px;
    text-align: center;
    position: relative;
  }

    .product__img img{
      vertical-align: middle;
    }


    .product-sale-labels{
      position: absolute;
      left: 100%;
      margin-left: -40px;
      top: 0;
      line-height: 1;
      text-align: left;
    }

      .product-sale-label--percents{
        min-width: 130px;
        background: url(../images/sale-label-bg.png) 0 0 no-repeat;
        line-height: 75px;
        font-size: 40px;
        color: #fff;
        padding: 0 0px 0 10px;
        border-radius: 5px;
      }

      .product-sale-label--price{
        min-height: 94px;
        min-width: 160px;
        padding-left: 15px;
        background: url(../images/price-label-bg.png) 0 0 no-repeat;
      }

        .product-sale-label__old-price{
          font-size: 24px;
          color: #000;
          padding: 15px 0;
          text-decoration: line-through;
        }

        .product-sale-label__current-price{
          font-size: 50px;
          line-height: 1;
          margin-top: -13px;
        }

          .product-sale-label__current-price sup{
            font-size: 19px;
          }



    .product-sale-label--countdown{
      font-size: 18px;
      color: #EE2E24;
      padding-top: 10px;
    }

  .product__description{
    padding-left: 180px;
  }

    .product__description .title-2{
      text-align: left;
    }


    .product-list{
      margin-bottom: 40px;
    }

      .product-list li{
        margin-bottom: 5px;
      }

      .product-list strong{
        display: inline-block;
        width: 90px;
      }


    .product-list-2 li{
      margin-top: 5px;
    }



@media only screen and (max-width: 995px){
  .product__img{
    min-width: 400px;
  }

  .product__description{
    padding-left: 100px;
  }

  .product-sale-labels{
    margin-left: -100px;
  }

  .product__img img{
    max-width: 100%;
    height: auto;
  }
}


@media only screen and (max-width: 767px){
  
  .product{
    display: block;
  }

    .product__img{
      width: 100%;
      line-height: 1;
      padding-right: 50px;
    }

    .product__description{
      padding-left: 0px;
    }


    .product-sale-labels{
      left: auto;
      right: 0;
      -moz-transform: scale(.5);
      -webkit-transform: scale(.5);
      -o-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
      margin-right: -20px;
    }
}

@media only screen and (max-width: 479px){
  .product__img{
    min-width: 0;
  }
}
