/*============================= Production categories ============================*/

.production-categories{
  padding: 50px 0 70px;
  text-align: center;
}

  .production-category{
    display: inline-block;
    font-size: 24px;
    margin: 0 40px;
    max-width: 25%;
    text-align: center;
  }

    .production-category__img{
      height: 200px;
      line-height: 200px;
    }

      .production-category__img img{
        vertical-align: middle;
      }

    .production-category img{
      max-width: 100%;
      height: auto;
    }

    .production-category figcaption{
      padding-top: 30px;
    }

@media only screen and (max-width: 1400px){
  .production-categories{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .production-category{
      width: 25%;
      margin: 0 0;
      padding: 0 20px;
      display: block;
    }

      .production-category figcaption{
        padding-top: 0px;
      }
}


@media only screen and (max-width: 995px){
  
  .production-categories{
    padding: 0px 0 50px;
  }

    .production-category{
        width: 50%;
        margin-top: 30px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 479px){
  .production-category{
    width: 100%;
  }
}