
/*============================= Product items  ============================*/

.products{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 50px;
}

  .product__item{
    width: 20%;
  }

    .product__item-img{
      height: 210px;
      line-height: 210px;
      text-align: center;
      position: relative;
      margin-bottom: 20px;
    }

      [data-product-label="new"]::after{
        display: block;
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 60px;
        height: 60px;
        background: url(../images/new-label.png) 0 0 no-repeat;
        content: "";
      }

      .product__item-img img{
        vertical-align: bottom;
      }


    .product__item figcaption{
      font-size: 13px;
    }