.dark-box{
  background-color: #303435;
  color: #fff;
  padding: 70px 0;
}

.production-features{
  text-align: center;
}
  .production-feature{
    max-width: 180px;
    margin: 0 20px;
    padding: 0 5px;
    display: inline-block;
  }

    .production-feature figcaption{
      padding-top: 40px;
    }

@media only screen and (max-width: 995px){
  .production-features{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
    .production-feature{
      width: 25%;
      max-width: 100%;
      display: block;
      margin: 0;
      padding: 0 10px;
    }

    .dark-box .title-1{
      text-align: center;
    }
}


@media only screen and (max-width: 767px){
    .production-feature{
      width: 50%;
      margin: 30px 0 0;
    }

      .production-feature figcaption{
        padding-top: 15px;
      }


    .dark-box{
      padding: 30px 0;
    }
}


@media only screen and (max-width: 479px){
    .production-feature{
      width: 100%;
      margin: 20px 0 0;
      padding: 0 40px;
    }
}