
/*============================= Promo banner ============================*/
.promo-banner{
  color: #fff;
  background-color: #00764E;
  font-size: 28px;
  line-height: 1;
  padding: 50px 0;
  margin-bottom: 35px;
}

  .promo-banner [class^="col-"]{
    position: static;
  }

    .promo-banner .container{
      position: relative;
    }

  .promo-banner__img{
    position: absolute;
    bottom: -50px;
    right: 0;
  }

  .promo-banner__title{
    font-size: 92px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 40px;
  }

  .promo-banner__list{
    margin-bottom: 50px;
  }
    .promo-banner__list li{
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
    }

      .promo-banner__list li:first-child ~ li{
        margin-top: 50px;
      }


      .promo-banner__list-icon{
        text-align: center;
        min-width: 80px;
        margin-right: 44px;
        vertical-align: middle;
      }


@media only screen and (max-width: 995px){
  
  .promo-banner__title{
    font-size: 60px;
    line-height: 1.23;
  }

  .promo-banner__img{
    max-width: 30%;
  }

}


@media only screen and (max-width: 767px){
  
  .promo-banner__img{
    display: none;
    /* max-width: 50%; */
    /* position: static; */
  }

  .promo-banner__title{
    font-size: 40px;
  }

  .promo-banner__list li:first-child ~ li{
    margin-top: 15px;
  }

}

@media only screen and (max-width: 650px){
  

  .promo-banner{
    text-align: center;
    font-size: 20px;
  }
  .promo-banner__list{
    text-align: left;
    margin-bottom: 0;
  }

  .application-btns{
    text-align: center;
  }
    .application-btn{
      margin-bottom: 15px;
    }

    .promo-banner__img{
      display: inline-block;
      position: static;
      max-width: 50%;
    }

  .promo-banner__title{
    font-size: 36px;
    line-height: 1.23;
  }

  .promo-banner__list-icon{
    margin: 0 0 20px;
  }

}

@media only screen and (max-width: 479px){
  .promo-banner__list li{
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .promo-banner__list-icon{
    margin-bottom: 20px;
  }


}