
/*============================= catalog filter ============================*/

.shop-filter{
  border: 1px solid #CFD0D2;
  padding: 5px 15px 30px;
}

  .shop-filter__item{
    padding: 15px 0;
    border-bottom: 1px solid #CFD0D2;
  }


  .shop-filter .btn-1{
    margin-top: 30px;
  }

    .shop-filter__item-label:not(.inactive){
      cursor: pointer;
      position: relative;
      margin-bottom: 20px;
    }

      .shop-filter__item-label:not(.inactive)::after{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 22px;
        font-size: 22px;
        color: #fff;
        background: #00764E;
        border-radius: 3px;
        content: "+";
      }


      .shop-filter__item-label.active::after{
        content: "-";
      }

    .shop-filter__item-content{
      
    }
    
    .shop-filter__item-row{
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      margin-bottom: 10px;
    }

      .shop-filter__label{
        display: block;
        float: left;
        width: 40px;
      }


      .shop-filter__item-row .select:not(.extra){
        width: calc(100% - 40px);
        float: left;
      }


      .shop-filter .fake-checkbox__label::before
      ,.shop-filter .fake-radio__label::before{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        top: 4px;
      }

      .shop-filter .fake-radio__label::before{
        border-radius: 50%;
      }

      .shop-filter .fake-checkbox__label,
      .shop-filter .fake-radio__label{
        padding-left: 35px;
      }