/*============================ sale history list =============================*/
.sale-history-list{
  margin-bottom: 60px;
}
  .sale-history-list dt{
    background: #E6E6E6;
    font-size: 14px;
    padding: 7px 20px 6px;
  }

  .sale-history-list dd{
    overflow: hidden;
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid #E5E5E5;
  }

    .sale-history-list__details{
      float: left;
    }

      .sale-history-list__price{
        font-size: 18px;
        margin-bottom: 4px;
      }

        .sale-history-list__price sup{
          font-size: 12px;
        }

    .sale-history-list__points{
      float: right;
      color: #00764E;
      font-size: 24px;
      padding: 10px 40px 2px 0;
      background: url(../images/delete-icon.png) 100% 50% no-repeat;
    }

@media only screen and (max-width: 479px){
  .sale-history-list__details,
  .sale-history-list__points{
    float: none;
  }

  .sale-history-list__points{
    display: inline-block;
  }

  .sale-history-list{
    margin-bottom: 20px;
  }
}