
/*============================= Sale section ============================*/

.sale-section{
  background: url(../images/sale-section-bg.png) 50% 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 0;
}


  .sales-tethers{
    text-align: center;
  }

    .sale-tether{
      display: inline-block;
      margin: 0 14px 30px;
    }

      .sale-tether figcaption{
        padding-top: 25px;
      }


@media only screen and (max-width: 767px){

  .sale-section{
    padding: 30px 0 0;
  }

  .sales-tethers{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .sale-tether{
    width: calc(50% - 20px);
    margin: 0 10px 30px;
  }

  .sales-tethers .sale-tether:nth-child(3){
    width: 100%;
  }

    .sales-tethers .sale-tether img{
      width: 100%;
      height: auto;
    }

    .sale-tether .title-2{
      margin-bottom: 10px;
    }
}