

/*============================= Search result ============================*/
.search-result-list{
  margin-bottom: 50px;
}
  .search-result-list__item{
    padding: 25px;

  }

    .search-result-list .search-result-list__item:nth-child(odd){
      background-color: #E6E6E6;
    }


@media only screen and (max-width: 995px){
	.search-result-list__item{
		padding: 20px;
	}
}

@media only screen and (max-width: 479px){
	.search-result-list{
		margin-bottom: 20px;
	}
}