

/*============================ Share =============================*/

.share-item{
  display: inline-block;
  margin: 0 34px;
}

  .share-item figcaption{
    padding-top: 15px;
  }


@media only screen and (max-width: 767px){
	.share-item{
		margin: 0 10px 20px;
	}

		.share-item img{
			max-width: 40px;
			height: auto;
		}
}