

/*============================= tethers ============================*/
.tethers-section{
  margin: 0 0 70px;
}
  .tethers-section__titles{
    text-align: center;
    margin-bottom: 40px;
  }

  .tethers{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 -10px;
  }
    .tether__item{
      min-height: 400px;
      margin: 0 10px;
      width: calc(50% - 20px);
      -webkit-background-size: cover !important;
      background-size: cover !important;
      font-size: 50px;
      line-height: 1;
      color: #fff;
      position: relative;
    }

      .tether__item::before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        content: "";
      }

      .tether__item figcaption{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px;
      }

      .tether__item-icon{
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 10;
      }

    .tethers-size--large .tether__item{
      min-height: 540px;
    }

      .tethers-size--large .tether__item::before{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+1,0+48,0.5+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 48%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
      }


@media only screen and (max-width: 1200px){
  .tether__item figcaption{
    padding: 40px;
  }
}



@media only screen and (max-width: 767px){
  
  .tether__item{
    min-height: 350px;
    font-size: 40px;
  }
    .tether__item figcaption{
      padding: 20px;
    }

      .tether__item-icon{
        top: 20px;
        left: 20px;
      }


  .tethers-size--large .tether__item{
    min-height: 400px;
  }

  .tethers-section{
    margin-bottom: 30px;
  }

}


@media only screen and (max-width: 480px){
  .tethers{
    display: block;
    margin: 0;
  }
    .tether__item{
      width: 100%;
      margin: 0 0 20px;
      min-height: 250px;
    }

    .tethers-size--large .tether__item{
      min-height: 250px;
    }
}