.tenant-rules{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
  .tenant-rule{
    width: 25%;
    font-size: 21px;
    text-align: center;
    padding: 0 40px;
    color: #00764E;
  }

    .tenant-rule figcaption{
      padding-top: 20px;
    }

@media only screen and (max-width: 995px){
  .tenant-rule{
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media only screen and (max-width: 767px){
  .tenant-rule{
    width: 50%;
    padding-top: 30px;
  }

    .tenant-rule img{
      max-width: 40%;
      height: auto;
    }
}

@media only screen and (max-width: 479px){
  .tenant-rule{
    width: 100%;
  }
}

.tents-activities-section{
  background-color: #00764E;
  color: #fff;
  font-size: 24px;
  line-height: 1.23;
  padding: 60px 0;
  margin-bottom: 80px;
}

  .tents-activities{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

    .tents-activity-list{
      width: 33.3%;
      padding-right: 60px;
    }

      .tents-activity-list li{
        margin-bottom: 10px;
      }

@media only screen and (max-width: 650px){
  .tents-activities{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .tents-activity-list{
      width: 100%;
      padding: 0;
    }

    .tents-activities-section{
      padding: 30px 0;
      margin-bottom: 30px;
    }
}