

/*============================= Tenders page items ============================*/

.tender-search-form{
  border: 1px solid #B2B2B2;
  border-radius: 50px;
  background: url(../images/search-grey-icon.png) calc(100% - 16px) 50% no-repeat;
}

  .tender-search-form__inp{
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    font-size: 21px;
    padding: 0 20px;
  }


  .tenders{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .tender-item{
      width: 25%;
      font-size: 24px;
      text-align: center;
      margin-bottom: 70px;
    }

      .tender-item figcaption{
        padding: 15px 0 0;
      }

      .tender-item__icon{
        min-height: 131px;
        line-height: 131px;
      }

        .tender-item__icon img{
          vertical-align: middle;
        }

@media only screen and (max-width: 995px){

  .tender-item{
    font-size: 18px;
    margin-bottom: 30px;
  }
    .tender-item__icon{
      line-height: 100px;
      height: 100px;
      min-height: 100px;
    }
      .tender-item img{
        max-width: 50%;
        height: auto;
        max-height: 100%;
      }

}


@media only screen and (max-width: 767px){
  .tender-item{
    width: 50%;
  }
}


@media only screen and (max-width: 479px){
  .tender-item{
    width: 100%;
  }
}