/*============================ User card =============================*/
.user-card{
  text-align: center;
  width: 520px;
  margin: 0 auto;
  padding: 71px 0 20px;
  border-radius: 50px;
  background-color: #00764E;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

  .user-card figcaption{
    padding-top: 15px;
  }

@media only screen and (max-width: 767px){
  .user-card{
    max-width: 100%;
  }

    .user-card__barcode img{
      max-width: 90%;
      height: auto;
    }
}

@media only screen and (max-width: 479px){
  .user-card{
    font-size: 18px;
    padding-top: 40px;
  }
}