
/* ============= user offers =========  */

  .user-offers{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

    .user-offer{
      width: 25%;
      text-align: center;
      font-size: 24px;
      text-align: center;
      color: #00764E;
      padding: 0 20px;
    }

      .user-offer__img[data-news-user-items]{
        position: relative;
      }

        .user-offer__img[data-news-user-items]::before{
          display: block;
          position: absolute;
          background-color: #EE2E24;
          color: #fff;
          width: 32px;
          height: 32px;
          text-align: center;
          line-height: 36px;
          border-radius: 50%;
          font-size: 14px;
          top: 0;
          right: 50px;
          content: attr(data-news-user-items);
        }


      .user-offer img{
        max-width: 100%;
        height: auto;
      }


      .user-offer figcaption{
        padding-top: 20px;
      }

      .user-offer__img{
        height: 140px;
        line-height: 140px;
      }

        .user-offer__img img{
          vertical-align: middle;
        }

@media only screen and (max-width: 767px){
  
  .user-offer{
    width: 50%;
    margin-bottom: 30px;
  }
    .user-offer img{
      max-width: 50%;
      height: auto;
      max-height: 60%;
    }

    .user-offer__img{
      line-height: 120px;
      height: 120px;
    }

    .user-offer figcaption{
      padding-top: 10px;
    }
    
}


@media only screen and (max-width: 479px){
  .user-offer{
    width: 100%;
  }
}